//Color
$backColor:linear-gradient(to right, #44BDC2, #485C97);
$light-grey: #f9f9f9;
$dark-grey: #777777;

//Spacing
$space: 1.4rem;
$site-max-width: 50rem;

//Font-sizes
$base-font-size: 1.6rem;
$large-font-size: 1.8rem;

//Form inputs
$input-border: #dddddd;
$input-spacing: 1rem;


//Boxed view
$boxed-view-overlay-bg: $backColor ;
$boxed-view-bg: white ;


//button
$button-bg: #44BDC2;
$button-color: white;
$button-pill-color: $button-bg;
$button--secondary-bg: #f9f9f9;
$button--secondary-color: $dark-grey;
$button-secondary-border-color: #dddddd;

//header
$header-bg: $backColor;
$header-color: white;


//item
$item-bg:$light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;
